{% include 'base.html' %}
{% include 'navigation.html' %}

{% block content %}
    <h1 class="text-center" style="margin-top: 20px;">About Us</h1> <!-- Adjust margin-top here -->
    <div class="container" style="margin-top: 50px;"> <!-- Adjust margin-top here -->
        <div class="row">
            <div class="col-md-6">
                <h1 class="strong" style="margin-top: 0;">Who We Are and <br>What We Do</h1>
                <p class="lead">This is the world's leading portal for <br>easy and quick healthcare access.</p>
            </div>
            <div class="col-md-6">
                <p>
                    "Welcome to Medicare Health Center, where we provide comprehensive healthcare services. Our modern facility offers emergency care, specialized treatments, diagnostics, and patient support. We're committed to your well-being and dedicated to serving our community."
                </p>
                <p>
                    "Your Trusted Health Partner: Medicare Health Center. Exceptional care, life-saving treatments, and a commitment to community well-being. Discover excellence in healthcare."
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="site-heading text-center">
                <h3>Our Team</h3>
                <p>
                    Our hospital is proud to be supported by a dynamic team of healthcare professionals who are dedicated to your well-being. With expertise in a wide range of medical specialties, our team is committed to providing you with the highest standard of care. From Dr. Sarah Miller, our compassionate Chief Medical Officer, to the skilled nurses, technicians, and support staff, every member of our organization works tirelessly to ensure your health and safety. Your health is our priority, and we're here to serve you with excellence.
                </p>
                <div class="border"></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% include 'footer.html' %}
