{% include 'base.html' %}
{% include 'navigation.html' %}

<style>
    .mydivstyle:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        transform: translateY(-13px);
    }
</style>

{% block content %}
<div class="container" style="margin-top:50px;">
    <h1 class="text-center">Contact Us</h1>
    <div class="row mt-5 text-center">
      <div class="col-lg-3 col-sm-6 mydivstyle">
       <h4><i class="fas fa-phone-square"> Contact</i></h4>
       <p class="text-danger font-weight-bold mt-3"><a href="tel: +977980000121">+977980000121</a></p>
      </div>
      <div class="col-lg-3 col-sm-6 mydivstyle">
       <h4><i class="fa fa-envelope"></i> Send-email</h4>
       <p class="font-weight-bold mt-3"><a href="mailto:abc@gmail.com">abc@gmail.com</a></p>

      </div>
      <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fa fa-address-card" aria-hidden="true"></i> Office Address</h4>
        <p class="font-weight-bold mt-3"><a href="https://maps.google.com/maps?q=kapan">Kapan Kathmandu</a></p>

      </div>
      <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fa fa-address-card" aria-hidden="true"></i> Office Time</h4>
        <p class="font-weight-bold mt-3">10AM TO 5AM</P>
      </div>
    </div>   
</div>
{% endblock %}

{% include 'footer.html' %}