#homepage {
    text-align: center;
    font-size: 36px;
    color: #3498db; /* Blue color, you can change it to your preferred color */
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style the container for Departments */
#departments {
    background-color: #f9f9f9; /* Background color */
    padding: 40px 0;
    text-align: center;
}

/* Style the main heading for Departments */
#departments h1 {
    font-size: 36px;
    color: #333; /* Text color */
    margin-bottom: 20px;
}

/* Style the container for the Department cards */
.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style the Department cards */
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff; /* Background color for individual service cards */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.3333% - 20px); /* Adjust the width as needed */
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Style the Department card images */
.card-img img {
    max-width: 100%;
    max-height: 150px; /* Adjust the height to make images appear larger */
    margin-bottom: 10px;
}

/* Style the Department card text */
.card-text {
    font-size: 18px;
    margin-top: 20px;
}

/* Hover effect for Department cards */
.card:hover {
    transform: scale(1.05);
}
